#Options +FollowSymLinks
RewriteEngine on

RewriteBase /

# ÉLES KÖTNYEZETBEN EL KELL TÁVOLÍTANI AZ IF FELTÉTELT
<IF false>
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ez-egy-minta-oldal/?$ hitel [R=301,L]
RewriteRule ^ingatlankozvetito-allas-budapest-2/?$ allas [R=301,L]
RewriteRule ^milyen-lakas-kaphato-15-20-millio-forintert/?$ hirek/milyen-lakas-kaphato-15-20-millio-forintert/31 [R=301,L]
RewriteRule ^dokumentumok/?$ hirek/letoltheto-dokumentumok/33 [R=301,L]
RewriteRule ^10825-2/?$ hirek/megdobbento-kulonbsegek/32 [R=301,L]
RewriteRule ^agents/bekesi-katalin/?$ ingatlanok/ertekesito/bekesi-katalin/57 [R=301,L]
RewriteRule ^agents/nagy-julia/?$ ingatlanok/ertekesito/nagy-julia/6292 [R=301,L]
RewriteRule ^agents/kovacs-andrea/?$ ingatlanok/ertekesito/kovacs-andrea/6291 [R=301,L]
RewriteRule ^agents/gajdos-cecilia/?$ ingatlanok/ertekesito/gajdos-cecilia/6290 [R=301,L]
RewriteRule ^agents/laky-maria/?$ ingatlanok/ertekesito/laky-maria/6293 [R=301,L]
RewriteRule ^agents/molnar-mariann/?$ ingatlanok/ertekesito/molnar-mariann/19125 [R=301,L]
RewriteRule ^agents/pal-erika/?$ ingatlanok/ertekesito/pal-erika/16373 [R=301,L]
</IF>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]
