/* modal beállítások */
.modal {
    z-index: 9900;
}

.modal-content {
    /*
      background-clip: padding-box;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
    */  
    border-radius: 0px;
    /*
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      outline: 0 none;
      position: relative;
    */
}

/*
.modal-open {
  overflow-y: hidden !important;
}
*/

/*
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 15px;
}

.modal-body {
    padding: 15px;
    position: relative;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
*/

.modal-content .send-btn {
    background-color: #c44a35;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.2s linear 0s;
    width: 50%;
    margin: auto;
}

.modal-content .send-btn:hover {
    opacity: 0.8;
    transform: scale(0.95);
}


/*
.register-block {
    border: 1px solid #e7e4e4;
    padding: 19px;
}

.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="tel"] {
    border: 1px solid #e7e4e4;
    font-size: 16px;
    height: 46px;
    margin-bottom: 15px;
    padding-left: 16px;
    width: 100%;
}
*/


.item .preview .item-label.sale {
    background-color: rgba(62, 199, 69, 0.8);
}
.item .preview .item-label.rest {
    background-color: rgba(73, 158, 255, 0.8);
}

.item .preview .item-label {
    padding: 6px 0;
    right: 37%;
    text-align: center;
    top: 10%;
    transform: rotate(-45deg);
    width: 100%;
    z-index: 0;
    color: #fff;
    font-size: 16px;
    position: absolute;
    text-shadow: 1px 1px 2px #969696;
    text-transform: uppercase;
}

.preview {
    overflow: hidden;
}

/* ingatalan reszletek 3 oszlop beállítások */
.detail-info-block .column-2, .features-info-block .column-2 {
    border-right: 1px solid #e7e4e4;
    float: left;
    padding: 0 30px;
    width: 33%;
}
.detail-info-block .column-2:last-child, .features-info-block .column-2:last-child {
    border-right: 0 none;
}


.main-slides .item-label.sale {
    background-color: rgba(62, 199, 69, 0.8);
}
.main-slides .item-label.rest {
    background-color: rgba(73, 158, 255, 0.8);
}
.main-slides .item-label {
    padding: 8px 0;
    right: 42%;
    text-align: center;
    top: 10%;
    transform: rotate(-45deg);
    width: 100%;
    z-index: 1000;
    color: #fff;
    font-size: 20px;
    position: absolute;
    text-shadow: 1px 1px 2px #969696;
    text-transform: uppercase;
}
.main-slides {
    overflow: hidden;
}

.ingatlan-info-box {
    background-color: #D8D8D8;
    height: 120px;
    margin: 20px 0 20px 0;
}

/* features elemek, amelyek nincsenek az ingatlamban */ 
.features-info-block .info-item .feature-item-none::before {
    color: #D8D8D8;
    content: "\f00d";
    display: block;
    font-family: "FontAwesome";
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
}
.features-info-block .info-item .feature-item-none {
    display: block;
    padding-left: 21px;
    position: relative;
    color: #D8D8D8;
}


#submit-button.button-loading::before {
    animation: 2s linear 0s normal none infinite running fa-spin;
    content: "\f110";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    margin: 0 10px 0 0;
}

#mezes_bodon {
    display: none;
}



#district_select_div {
    margin-bottom: 6px;
} 


.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #c44a35;
    border: 1px solid #e7e4e4;
    border-radius: 0px;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #e7e4e4;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu > li > a {
    line-height: 2;
    background-color: none;
    border-top: 5px;
}

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            color: #c44a35;
            text-decoration: none;
            background-color: none;
            border-top: 5px;
        }

.bs-caret {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 34px;
    height: 34px;
    background-color: #c44a35;
}

.caret {
    color: #fff;
}


#district_select_div .btn-default {
    background-color: #fff;
    border-color: #e7e4e4;

    color: #808080;
    font-family: "Lato-Regular",Arial,sans-serif;
    font-size: 14px;

    font-weight: bold;
}


.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropup .dropdown-menu {
    margin-bottom: 0px;
}


