/* modal beállítások */
/*
.modal-open {
  overflow-y: hidden !important;
}
*/
.modal {
  z-index: 9900;
}

.modal-content {
  /*
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
  */  
    border-radius: 0px;
  /*
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
  */
}

/*
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 15px;
}

.modal-body {
    padding: 15px;
    position: relative;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
*/




/* line 2802, scss/_slider.scss */
.item .preview .features-label {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  /*
  top: 10px;
  left: 10px;
  */		
  padding: 6px 10px; 
}
/* line 2809, scss/_slider.scss */
.item .preview .features-label.best {
  background-color: #2dd1cf;
}
/* line 2812, scss/_slider.scss */
.item .preview .features-label.new {
  background-color: #b2d12d;
}
/* line 2815, scss/_slider.scss */
.item .preview .features-label.hot {
  background-color: #d12d2d;
}
/* line 2818, scss/_slider.scss */
.item .preview .features-label.sale {
  background-color: #d1cb2d;
}

/*
.register-block {
    border: 1px solid #e7e4e4;
    padding: 19px;
}

.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="tel"] {
    border: 1px solid #e7e4e4;
    font-size: 16px;
    height: 46px;
    margin-bottom: 15px;
    padding-left: 16px;
    width: 100%;
}
*/